/*CELULAR*/

@media (max-width:799px) {

  .trailer {
    width: 100%;
  }

  .godyt {
    margin-top: 10px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 100px;
    display: none;
  }

  .menu-icon {
    color: rgb(72, 117, 202);
    font-size: 24px;
    cursor: pointer;
  }

  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }

  #menu ul {
    flex-direction: column;
  }

  .comprarjogo {
    font-size: small;
  }

  figure.imgtexto {
    display: block;
  }

  .spacebetween {
    font-size: x-small;
    height: 60%;
  }

  .txtcompreojogo {
    font-size: x-small;
  }

  .produtos {
    width: 150px;
    height: 150px;
  }

  .txtcompreojogo {
    margin-bottom: 30px;
  }
}

/*TABLETS*/

@media (min-width:800px) {

  .menuresp {
    display: none;
  }

  #menu ul li:last-child a {
    display: none;
  }

  figure.imgtexto {
    display: inline-block;
    width: 39%;
  }

  .produtos {
    width: 300px;
    height: 300px;
  }

  .txtcompreojogo {
    margin-bottom: 150px;
  }
}

/*Desktops/Laptops*/

@media (min-width:1000px) {
  figure.imgtexto {
    width: 25%;
  }

  #menu {
    position: fixed;
    z-index: 1;
  }

  .personagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1420px) {
  #personagens {
    margin-top: 70px;
  }
}


@media (min-width: 1520px) {

  .hb {
    margin-bottom: 200px;
  }

  .botaoposiçao {
    top: 220px;
  }

}

@media (min-width: 1630px) {
  .hb {
    margin-bottom: 300px
  }

  .botaoposiçao {
    top: 300px
  }
}

@media (min-width: 1761px) {
  .hb {
    margin-bottom: 400px;
  }

  .botaoposiçao {
    top: 350px;
  }
}

@media (min-width: 1920px) {

  #menu ul {
    font-size: 16pt;
  }

  .godyt {
    position: relative;
    top: 50px;
  }

  #historia {
    position: relative;
    top: 50px;
  }

  .txth {
    font-size: 17pt;
  }

  .hb {
    margin-bottom: 0px;
  }

  figure.imgtexto {
    width: 25%;
  }

  .botaoposiçao {
    top: 200px;
  }

  .botaocomprar {
    width: 300px;
    height: 100px;
    font-size: 20pt;
  }

  .spacebetween {
    top: 80px;
    font-size: 15pt;
  }

  .produtos {
    width: 500px;
    height: 500px;
  }
}

/**/

body {
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

* {
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

/*MENU*/

.logo {
  width: 120px;
}

#menu {
  width: 100%;
}

#menu ul {
  margin: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.836);
  align-items: center;
  justify-content: center;
  padding: 0;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  margin-left: 20px;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
}

#menu ul li a:hover {
  color: rgb(79, 149, 214);
}

/*HISTORIA*/



.txth {
  color: rgb(247, 245, 245);
  margin-top: 30px;
  margin-left: 20px;
}

.hpng {
  float: right;
}

/*PERSONAGENS*/

figure:hover {
  cursor: pointer;
}

figure.imgtexto {
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.418);
}

figure.imgtexto img {
  width: 100%;
}

figure.imgtexto figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: opacity 1s;
  text-align: center;
}

figure.imgtexto:hover figcaption {
  opacity: 1;
}

figure.imgtexto:hover {
  border: 3px solid rgb(1, 57, 109);
  transition: 1s;
}

/*MAIS*/

.maistext {
  text-align: center;
}

.soundtrack {
  width: 900px;
  height: 420px;
  max-width: 100%;
}

.dicasetruquesyt {
  width: 900px;
  height: 420px;
  max-width: 100%;
}

.caixavideos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixavideos::before,
.caixavideos::after {
  content: '';
  position: absolute;
  width: calc(900px + 20px);
  height: calc(420px + 20px);
  background: linear-gradient(45deg,
      rgb(73, 73, 190), rgb(77, 77, 202), rgb(73, 73, 230), rgb(43, 43, 218), rgb(15, 15, 148), rgb(5, 5, 114),
      rgb(5, 5, 114), rgb(36, 36, 233), rgb(64, 64, 218), rgb(73, 73, 230), rgb(77, 77, 202), rgb(73, 73, 190));
  z-index: -1;
  background-size: 300%;
  animation: AnimarBorda 7s linear alternate infinite;
  max-width: 100%;

}

.caixavideos::after {
  filter: blur(6px);
}

@keyframes AnimarBorda {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 300%;
  }
}

/*COMPRAR*/

.organizarcomprar {
  display: flex;
  width: 100%;
}

#kratosvideo {
  position: relative;
  margin-top: 50px;
}

.sobrepor {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
}

.spacebetween {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.preços {
  width: 30%;
}

.botaoposiçao {
  position: relative;
  display: flex;
  justify-content: center;
}

.botaocomprar {
  padding: 20px 30px 20px 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 69, 160);
  border-style: none;
  border-radius: 30px;
  top: 60px;
}

.botaocomprar:hover {
  background-color: rgb(7, 134, 134);
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
  transition: 1s;
}

.linkbotaocomprar {
  text-decoration: none;
}

.linkbotaocomprar:hover {
  color: black;
}

/*FOOTER*/

footer {
  background-color: rgb(1, 57, 109);
}

.footertext {
  text-align: center;
}

footer ul {
  margin: 0;
  margin-left: 28%;
}

footer ul li {
  display: inline-flex;
  margin: 0px 10px 0px 10px;

}

footer ul li a {
  text-decoration: none;

}

footer ul li a:hover {
  color: aqua;
}