/*CELULAR*/

@media (max-width:700px) {

  .trailer {
    width: 100%;
  }

  .godyt {
    margin-top: 10px;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
  }

  #menu ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: absolute;
    top: -2px;
  }

  .comprarjogo {
    font-size: small;
  }

  figure.imgtexto {
    display: block;
  }

  .spacebetween {
    font-size: x-small;
    height: 60%;
  }

  .txtcompreojogo {
    font-size: x-small;
  }

  .produtos {
    width: 150px;
    height:150px;
  }
}

/*TELAS MAIORES*/

@media (min-width:900px) {

  .godyt{
    position: relative;
    top: 60px;
  }

  .menuresp {
    display: none;
  }

  #menu ul li:last-child a {
    float: none;
    display: none;
  }

  figure.imgtexto {
    display: inline-block;
    width: 25%;
  }

  #menu {
    position: fixed;
    z-index: 1;
  }

  .produtos{
    width: 300px;
    height: 300px;
  }
}

/**/

body {
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

* {
  color: aliceblue;
  font-family: 'Cinzel', serif;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

/*MENU*/

.logo {
  width: 150px;
  height: 50px;
}

.menuresp {
  background-color: transparent;
  border-style: none;
  position: relative;
  width: 50px;
  color: rgb(5, 30, 255);
  font-size: 25px;
  top: 4px;
}

.menuresp:focus~#menu ul {
  z-index: 1;
}

#menu {
  width: 100%;
}

#menu ul {
  margin: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.836);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  margin-left: 20px;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
}

#menu ul li a:hover {
  color: rgb(79, 149, 214);
}

/*HISTORIA*/
.txth {
  color: rgb(247, 245, 245);
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 0;
}

.hpng {
  float: right;
}

/*PERSONAGENS*/

figure:hover {
  cursor: pointer;
}

figure.imgtexto {
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.418);
}

figure.imgtexto img {
  width: 100%;
}

figure.imgtexto figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: opacity 1s;
  text-align: center;
}

figure.imgtexto:hover figcaption {
  opacity: 1;
}

figure.imgtexto:hover {
  border: 3px solid rgb(1, 57, 109);
  transition: 1s;
}

/*MAIS*/

.maistext {
  text-align: center;
}

.soundtrack {
  padding-top: 30px;
  width: 100%;
}

.dicasetruquesyt {
  width: 100%;
}

/*COMPRAR*/

.organizarcomprar {
  display: flex;
  width: 100%;
}

#kratosvideo {
  position: relative;
}

.sobrepor {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
}

.spacebetween {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.preços {
  width: 30%;
}

.botaoposiçao {
  position: relative;
  display: flex;
  justify-content: center;
}

.botaocomprar {
  padding: 20px 30px 20px 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 27, 160);
  border-style: none;
  border-radius: 30px;
  top: 60px;
}

.botaocomprar:hover {
  background-color: #0dd;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
  transition: 1s;
}

.linkbotaocomprar {
  text-decoration: none;
}

.linkbotaocomprar:hover {
  color: black;
}

/*FOOTER*/

footer {
  background-color: rgb(1, 57, 109);
}

.footertext {
  text-align: center;
}

footer ul {
  margin: 0;
  margin-left: 28%;
}

footer ul li {
  display: inline-flex;
  margin: 0px 10px 0px 10px;

}

footer ul li a {
  text-decoration: none;

}

footer ul li a:hover {
  color: aqua;
}